.dahsboard {
    flex: 1;
    min-width: 0;
    width: 100%;
    max-width: 75%;
}

.dahsboard .Stats .card {
    background-color: #222222;
    color: #f0f8ff;

    i {
        color: rgba(254, 56, 56, 0.956);
    }

    .card-text {
        font-size: 30px;
        font-weight: 800;
    }

    #revenueSection .inner {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
    }
}

.dahsboard .revenueSection {
    color: #000 !important;
}

/*
/* #revenueSection .inner {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    color: #f76161;
} */
