.ticket-package-type {
    flex: 1;
    min-width: 0;
}

.ticket-package-type form .btn-custom {
    padding: 10px 20px;
}

.ticket-package-type .form-control,
.ticket-package-type .form-select {
    border: 1px solid #444;
    border-radius: 8px;
    padding: 14px 18px;
    font-size: 16px;
    color: #fff;
    box-shadow: none;
    transition: all 0.3s ease;
    height: 35px;
}

.ticket-package-type .form-control:focus,
.ticket-package-type .form-select:focus {
    outline: none;
    border-color: #1F0B46;
    box-shadow: 0 0 8px rgba(255, 75, 92, 0.3);
}

.ticket-package-type .form-control::placeholder {
    color: #888;
    font-size: 16px;
    transition: opacity 0.3s ease;
}

.ticket-package-type .modal .modal-content {
    background-color: #222;
    border-radius: 8px;
    padding: 20px;
    color: #fff;
}