.change-password {
    flex: 1;
}

.change-password .btn-custom {
    padding: 8px 16px;
    margin-top: 10px;
}

.change-password h5 {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
}

.change-password h5::after {
    content: "";
    width: 60px;
    height: 3px;
    background: #1f0b46;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
