* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    /* overflow-x: hidden; */
    background-color: #000000;
    color: #ffffff;
}
a {
    text-decoration: none;
    color: #ffffff !important;
}
li {
    list-style: none;
}
.btn-custom {
    background-color: #fe3839;
    color: white;
    border: none;
    padding: 16px 24px;
    font-size: 16px;
    border-radius: 5px;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.btn-custom:hover {
    /* background-color: #fd2828; */
    transform: translateY(-2px); /* Lift effect on hover */
    box-shadow: 0 4px 15px rgba(255, 75, 92, 0.4); /* Red shadow on hover */
}

footer .inner .footer-nav ul,
.social-links ul {
    display: flex;
    align-items: center;
    gap: 20px;
}
.form-label {
    font-weight: 500;
    color: #fff;
    font-size: 14px;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

