header {
    padding: 20px 0;
    background-color: #1F0B46;
}

header img {
    width: 180px;
}

header .header-btns button {
    padding: 8px 16px !important;
}

header .header-btns a {
    padding: 8px 16px !important;
}

header .nav-item .nav-link:hover {
    color: rgb(253, 40, 40) !important;
}

header .user-avatar {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    cursor: pointer;
}

header .user-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

header .user-avatar .dropdown-menu {
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    a {
        color: #000 !important;
        font-weight: 600;
    }
}

header .user-avatar .dropdown-item {
    display: flex;
    align-items: center;
    gap: 10px;
    /* adds space between icon and text */
    font-size: 14px;
    padding: 10px 20px;
}

header .user-avatar .dropdown-item:hover {
    background-color: #fd2828;
    color: #fff !important;
}

header nav ul li {
    position: relative;
}

header .desktop-nav ul li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: #fd2828;
    transition: all 0.4s ease-in-out;
}

header .mobile-nav nav .nav-item::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: #fd2828;
    transition: all 0.4s ease-in-out;
}

header .desktop-nav ul li:hover::before {
    width: 100%;
}

header .mobile-nav nav .nav-item:hover::before {
    width: 20%;
}

header .mobile-nav {
    position: fixed;
    top: 80px;
    right: 0;
    height: calc(100vh - 80px);
    width: 100%;
    max-width: 60%;
    z-index: 9999;
    background-color: #000;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
    transition: all 0.4s ease-in-out;
    padding: 10px 50px;
}

.hamburger {
    width: 35px;
    height: 24px;
    position: relative;
    cursor: pointer;
}

.bar {
    height: 4px;
    width: 100%;
    background-color: #333;
    border-radius: 2px;
    transition: all 0.4s ease;
    position: absolute;
    left: 0;
    transform-origin: center;
}

.bar:nth-child(1) {
    top: 0;
}

.bar:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.bar:nth-child(3) {
    bottom: 0;
}

/* Center-origin animation */
.hamburger.open .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.hamburger.open .bar:nth-child(2) {
    opacity: 0;
    transform: scale(0) translateY(-50%);
}

.hamburger.open .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);

}

.mobile-nav.show {
    transform: translateX(0%);
}

.mobile-nav .user-avatar {
    justify-content: end;
    padding: 5px;
    background-color: #211e1e82;
}

@media (max-width: 768px) {
    header .mobile-nav {
        max-width: 100%;
    }
}