header {
    padding: 20px 0;
}

header img {
    width: 180px;
}

header .header-btns button {
    padding: 8px 16px !important;
}

header .header-btns a {
    padding: 8px 16px !important;
}

header .nav-item .nav-link:hover {
    color: #fd2828 !important;
}

