.banner .inner .banner-wrapper img {
    max-width: 100%;
}


.raffles .inner {
    min-height: 50vh;
}

.raffles .nav-tabs .nav-link {
    border-radius: 0;
    padding: 10px 20px;
    font-weight: 500;
    color: #fff;
    background-color: #222222;
    border: 1px solid #444;
}

.raffles .nav-tabs .nav-link.active {
    background: linear-gradient(to right, #a347ba, #2e8aea);
    color: #fff;
}

/* Raffle Card */
.raffles .raffle-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    background-color: #1f0b46;
}

.raffles .raffle-card:hover {
    transform: translateY(-5px);
    /* box-shadow: 0 4px 15px rgba(254, 56, 57, 0.3); */
}

.raffles .raffle-card .card-img-top {
    height: 200px;
    object-fit: cover;
}

.raffles .raffle-card .card-body {
    text-align: center;
    padding: 16px;
}

.raffles .raffle-card .card-title {
    font-size: 20px;
    margin-bottom: 8px;
    color: #fff;
}

.raffles .raffle-card .raffle-type {
    font-size: 18px;
    font-weight: 700;
    color: #ccc;
    margin-bottom: 8px;
}

.raffles .raffle-card .raffle-description {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 8px;
}

.raffles .raffle-card .card-text {
    font-size: 14px;
    color: #ccc;
    margin: 0;
}

.raffles .raffle-card .text-muted {
    color: #aaa !important;
}

.raffles .raffle-card .raffle-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 16px;
    color: #ccc;
}

.raffles .raffle-card .btn-custom {
    padding: 10px 20px;
}

.tasks-title {
    font-size: 1.8rem;
    font-weight: 800;
    background: linear-gradient(to right, #a347ba, #2e8aea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.task-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.task-grid-discord {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}


@media (max-width: 1200px) {
    .task-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .task-grid-discord {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 992px) {
    .task-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .task-grid-discord {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .task-grid {
        grid-template-columns: 1fr;
    }
    .task-grid-discord {
        grid-template-columns: 1fr;
    }
}


.task-card {
    background-color: #1f0b46;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 1rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    gap: 10px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 10px #a347ba55;
}


.task-icon i {
    width: 24px;
    font-size: 1.25rem;
}

.task-action {
    color: #39ff14 !important;
    font-weight: 500;
}

.task-tickets {
    background: #a347ba;
    color: #fff;
    border-radius: 999px;
    padding: 4px 10px;
    font-size: 0.8rem;
}
