.banner {
    border-bottom: 1px solid #A347BA;
}

.banner .inner {
    height: 100vh;
    width: 100%;
    /* Changed from 100vw to 100% */
    overflow-x: hidden;
    /* Prevent horizontal scrolling */
}

.cover-image {
    height: 100vh;
    width: 100%;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.social-login-main {
    background: linear-gradient(to bottom, #1A0C48, #440640);
}

.login-options {
    height: 100vh;
    width: 100%;

    p {
        width: 70%;
        max-width: 100%;
    }

    .option-btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.login-btn {
    width: 80%;
    max-width: 450px;
    padding: 15px;
    margin: 10px 0;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: bold;
    position: relative;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(to right, #A347BA, #2E8AEA)
}

.login-btn img {
    height: 24px;
    position: absolute;
    left: 15px;
}

/*
.google-btn {
    background: white;
    color: black;
}

.X-btn {
    background: black;
    border: 1px solid white;
}

.discord-btn {
    background: #5865f2;
}

.text-red {
    color: red;
}

.google-btn:hover {
    background: #e0e0e0;
    color: black;
}

.X-btn:hover {
    background: #333;
}

.discord-btn:hover {
    background: #4854d7;
} */

.intro-section {
    background-color: #0E0026;
    /* height: 80vh; */
    /* width: 100%; */
    padding: 60px 0;

    .bg-img {
        top: 50px;
        width: 25%;
        left: 30%;
    }
}

.commitment-section {
    /* text-align: center; */
    padding: 40px 0;
    background: linear-gradient(to bottom, #1A0C48, #440640);
}

.commitment-section {
    h2 {
        font-weight: bold;
    }

    p {
        font-size: 20px;
        line-height: 25px;
        font-weight: 300;
    }

    .icon-box {
        text-align: center;
        padding: 20px;
    }

    .icon-box img {
        width: 60px;
        height: 60px;
    }

    .icon-box p {
        font-size: 18px;
        font-weight: 400;
        margin-top: 10px;
    }
}

.gamification-section {
    background-color: #0E0026;
    padding: 40px 0;
}

.gamification-section .game-box img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: auto;
    border-radius: 10px;
}

.gamification-section h6 {
    font-size: 20px;
    color: #c8c8c8;
    margin-top: 20px;
    font-weight: 300;
}

.community-section {
    background: linear-gradient(to bottom, #1A0C48, #440640);
    padding: 40px 0;

    h6 {
        font-weight: 400;
    }
}

@media (max-width: 425px) {
    .intro-section {
        p {
            font-size: 18px !important;
        }
    }
}

.newsletter-section {
    background-color: #0E0026;
    padding: 40px 0;

    h2 {
        color: #ffffff;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 24px;
    }

    p {
        color: #ffffff;
        font-size: 18px;
        line-height: 1.6;
        font-weight: 300;
        margin-top: 20px;
    }

    .form-group {
        margin-top: 30px;
    }

    label {
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        display: block;
        margin-bottom: 10px;
    }

    .form-control {
        width: 100%;
        max-width: 400px;
        padding: 12px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin: 0 auto;
        font-size: 16px;
        color: #333;
        background-color: #f4f4f4;
    }

    .form-control:focus {
        border-color: linear-gradient(to bottom, #1A0C48, #440640);
    }
}