.raffle-detail {
    padding: 50px 0;
}

.raffle-detail h1 {
    background: linear-gradient(to right, #a347ba, #2e8aea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 5px;
}
.raffle-detail h1::after {
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background: linear-gradient(to right, #a347ba, #2e8aea);
    position: absolute;
    bottom: 0;
    left: 0;
}

.raffle-detail .raffle-image img {
    max-width: 100%;
    height: auto;
}

.raffle-detail .raffle-description {
    font-size: 16px;
    color: #ccc;
}

.raffle-detail .raffle-info p {
    font-size: 18px;
    margin: 8px 0;
}

.raffle-detail .raffle-info i {
    background: linear-gradient(to right, #a347ba, #2e8aea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.raffle-detail .battle-details .nav-tabs {
    border: none;
    color: #2e8aea;
    background-color: transparent;
}

.raffle-detail .battle-details .nav-tabs.active {
    color: #fff;
    border: none;
}
.raffle-detail .battle-details .nav-tabs .nav-link {
    background: linear-gradient(to right, #a347ba, #2e8aea);
    color: white;
    border: none;
    padding: 5px 20px;
    font-size: 16px;
    border-radius: 5px;
}

.raffle-detail .battle-details .nav-tabs .nav-link.active {
    color: #fff;
    border: none;
}

.raffle-detail .battle-details .nav-tabs .nav-link:hover {
    color: #fff;
    border: none;
}

.raffle-detail .inner .users-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.raffle-detail .inner .user-profile img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.raffle-detail .inner .user-profile h6 {
    font-size: 12px;
}

.raffle-detail .inner .prize-wrapper {
    background: #2e8aea;
    padding: 10px;
    border-radius: 14px;
}

.raffle-detail .inner .prize-wrapper ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.raffle-detail .inner .prize-wrapper ul li strong {
    font-size: 20px;
}

.raffle-detail .inner .prize-wrapper ul li {
    font-size: 18px;
}

.raffle-detail .inner p {
    font-size: 18px;
}

.raffle-detail .inner .frame-wrapper {
    max-width: 100%;
    width: 100%;
    background: #000;
    border-radius: 14px;
    padding: 10px;
}

.raffle-detail .inner .frame-wrapper video {
    max-width: 100%;
    width: 100%;
    height: 400px;
}
