.reset-password .card{
    background-color: #222;
    color: #fff;

}
.reset-password .btn-custom{
    padding: 7px 15px;
}
.reset-password input{
    background-color: #333;
    color: #fff;
    outline: none;
}
.reset-password input:focus{
    background-color: #444;
    box-shadow: none;
}
