aside {
    width: 250px;
    height: 780px;
    padding: 10px 0px;
    position: sticky;
    border-radius: 5px;
    top: 0;
    background: #1f0b46;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

    .nav-item {
        margin-bottom: 5px;
    }

    a {
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;
        padding: 10px;
        border-radius: 5px;
        text-decoration: none;
        white-space: nowrap;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        margin: 0 10px;
    }

    a:hover {
        background-color: #c700ff;
        color: #212529;
    }

    a i {
        margin-right: 12px;
        width: 20px;
        text-align: center;
        font-size: 18px;
    }

    a.active {
        background-color: #c700ff;
        color: #fff;
        box-shadow: 0 2px 5px rgba(253, 40, 40, 0.3);
    }

    a.active i {
        color: #fff;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

@media (max-width: 999px) {
    aside {
        width: 15%;
    }

    aside ul li a span {
        display: none;
    }
}
